<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/2000px-Magnifying_glass_icon.svg.png" ng-click="profiles.showNav = !profiles.showNav" class="nav-block-toggle">

<nav ng-show="profiles.showNav" id="sideNav">
    
    <div class="centerNav">
        <h3>Search By City </h3>
        <input   type="text" ng-model="profiles.search.city"  placeholder="City">
        <h3>Search By State</h3>
        <input   type="text" ng-model="profiles.search.state"  placeholder="State">
       
    
       
        <div>
            <h3>Search By Type of Equipment</h3>
            <select ng-model="profiles.search.typeEquipment">
                <option></option>
                <option>Water Sports</option>
                <option>Camping related</option>
                <option>Winter Sports</option>
                <option>Biking</option>
                <option>Misc</option>
                
            </select>
         <button id="submit" type="button" value="Geocode"ng-click="profiles.showNav = !profiles.showNav"  class="btn btn-default">Filter</button>
         </div>
         
    </div>
    
        
</nav>


<div  class="row pad"> 
    <div ng-repeat="profile in profiles.list  | filter: profiles.search" class="formatImg col-xs-4">
       
                
        
        <!--<img ng-click="profiles.showDetails = ! profiles.showDetails" ng-repeat="photo in profile.photos track by $index"ng-src="{{ photo }}" class="equipmentFormat">-->
         <img ng-click="profiles.getPic(photo)" ng-repeat="photo in profile.photos track by $index "ng-src="{{ photo }}" class="equipmentFormat">
        
        <div  id="modal" ng-show="profiles.showDetails">
               <img  ng-src="{{ profiles.currentPhoto }}">
                <div>
                    
                    <button class="extBtn" ng-click="profiles.showDetails = ! profiles.showDetails"> CLOSE </button>
                </div>
               
        </div>
        

        
        <h2>  {{profile.city}}, {{profile.state}}</h2>
             
        <h4>  Email: {{ profile.email }}</h4>
        <h5>  Phone Number: {{ profile.phone }}</h5>
        <h5>  Type of Equipment: {{profile.typeEquipment}}</h5>
        <h5>  Rate: {{ profile.rate }}</h5>
        <p>   Description: {{profile.descript}}</p>
        <img ng-src="{{profile.profilePic}}"id="profileImg">
             
</div>
 

 